name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install Python
        run: uv python install 3.12

      - name: Sync dependencies (dev only)
        run: uv sync --group dev

      - name: Run unit tests (without integration tests)
        run: uv run pytest -m "not integration" --cov=src/dockyter --cov-report=xml
      
      - name: Upload coverage reports
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.xml
          flags: unittests
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
